{% extends "layout.html" %}

{% block content %}
<h1 class="text-white main-color">
  クーポン<div class="fs-5">お得なクーポンをご利用ください</div>
</h1>


<div class="text-bg-warning p-3 mx-2 rounded-2">🎁今月の特典  新規会員様限定で初回20%OFFクーポン配布中！</div>

 <div class="text-center my-2">
<button type="button" class="btn btn-secondary">利用可能</button>
<button type="button" class="btn btn-secondary">使用済み</button>
<button type="button" class="btn btn-secondary">期限切れ</button>
</div>


{% for coupon in coupons %}
<div class="text-left">
    <div class="card">
      <div class="card-body">
        
        <h5 class="card-title">{{ coupon.name }}</h5>
        <div class="card p-3">
  <label class="form-label">クーポンコード</label>
  <div class="input-group">
    <input type="text" class="form-control text-center fw-bold" value= {{ coupon.code }} readonly>
    <button class="btn btn-outline-secondary" type="button" onclick="navigator.clipboard.writeText('NEWMEMBER20')">
      <i class="bi bi-clipboard"></i>
    </button>
  </div>
</div>

        <p class="card-text">{{ coupon.starts_at}}</p>
        <p class="card-text">{{ coupon.description}}</p>
        <a href="#" class="btn btn-primary">使用する</a>
      </div>
  </div>
</div>
{% endfor %}

{% endblock %}