{% extends "layout.html" %}


{% block content %}
<h1 class="text-white main-color">シェアサロン予約</h1>
<div class="input-group">
	<input type="text" class="form-control" placeholder="サロン名・サービス・エリアで検索">
	<span class="input-group-btn">
		<button type="button" class="btn btn-primary">検索</button>
	</span>
</div>
<button type="button" class="btn btn-primary">すべて</button>
<button type="button" class="btn btn-primary">カット</button>
<button type="button" class="btn btn-primary">脱毛</button>
<button type="button" class="btn btn-primary">鍼灸</button>
<button type="button" class="btn btn-primary">ネイル</button>

<div class="text-center">
	 {% for addres in address %} ]
	 XXX
	  {% endfor %}
	   {% for workinghour in workinghours %} ]
	   XXX
	  {% endfor %}
	 {% for salon in salons %}                   
	<li>
	<div class="card">
	<div class="card-body">
		<h5 class="card-title">{{ salon.name }}</h5>
		<h6 class="card-subtitle mb-2 text-body-secondary">{{ address.prefecture }}{{ address.city }}{{ address.line1 }}{{ address.line2 }}</h6>
		<p class="card-text">{{ workinghour.start }}~{{ workinghour.end }}</p>
		<a href="/home/detail/{{ salon.id }}" >ここから</a>
	</div>
	</div>
	</li>
	 {% endfor %}
</div>


{% endblock %}