{% extends "layout.html" %}

{% block content %}
<div class="mt-2 ms-2">
    <div class="m-4">
        <h6>店舗 詳細</h6>
        <p><h2>{{ salon.name }} </h2></p>	
		<p>📞{{ salon.phone }}</p>
		<p>🕒{{ workinghour . start.strftime("%H時%M分")}}~{{ workinghour . end.strftime("%H時%M分")}}</p>
		<p><h5>店舗について</h5></p>
		<p><h6>{{ salon.description }}</h6></p>	
    </div>
    <h2>メニュー</h2>
    {% for service in services %}                   
	<li>
	<div class="card my-2 ">
	<div class="card-body">
		<h5 class="card-title">{{ service.name }}</h5>
		<h6 class="card-subtitle mb-2 text-body-secondary">¥{{ service.price_jpy }}</h6>
		<p class="card-text">{{ service.description }}</p>
		<button type="button" class="btn btn-warning" href="/home/detail/{{ service.id }}">予約</button>
	</div>
	</div>
	</li>
	 {% endfor %}
    <div class="m-4">
        <a href="/home">戻る</a>
    </div>
</div>
{% endblock %}