{% extends "layout.html" %}


{% block content %}
<h1 class="text-white main-color">シェアサロン予約</h1>
<div class="input-group">
	<input type="text" class="form-control" placeholder="サロン名・サービス・エリアで検索">
	<span class="input-group-btn">
		<button type="button" class="btn btn-primary">検索</button>
	</span>
</div>
<button type="button" class="btn btn-primary">すべて</button>
<button type="button" class="btn btn-primary">カット</button>
<button type="button" class="btn btn-primary">脱毛</button>
<button type="button" class="btn btn-primary">鍼灸</button>
<button type="button" class="btn btn-primary">ネイル</button>
<div class="text-white bg-warning p-3 mx-2 rounded-2"><h3>✨新規会員限定特典</h3><h6>初回予約で20%OFFクーポンをプレゼント</h6></div>
<h3>♡人気のサロン</h3>

<div class="text-center">
	{% for salon in salons %}
	<li>
		<div class="card">
			<div class="card-body">
				<h5 class="card-title">{{salon.name}}</h5>
				<h6 class="card-subtitle mb-2 text-body-secondary">📍{{ salon.address.prefecture }}{{ salon.address.city
					}}{{ salon.address.line1 }}{{ salon.address.line2 }}</h6>
				<p class="card-text">
					🕒{{salon.workinghour.start.strftime("%H時%M分")}}~{{salon.workinghour.end.strftime("%H時%M分")}}</p>
				{% for service in salon.services %}
				<span class="badge text-bg-primary">{{service.name}}　￥{{ service.price_jpy }}</span>
				{% endfor %}
				<p><a href="/home/detail/{{ salon.id }}">ここから</a></p>
			</div>
		</div>
	</li>
	{% endfor %}
</div>


{% endblock %}