{% extends "layout.html" %}

{% block content %}
<h1 class="text-white main-color">お知らせ<div><h3>店舗からの最新情報</h3></div></h1>
<div class="text-center">
		<div class="btn-group p-3 mx-2 rounded-6">
			<button type="button" class="btn btn-dark">すべて</button>
			<button type="button" class="btn btn-dark">未読</button>
			<button type="button" class="btn btn-dark">既読</button>
		</div>
</div>

<div class="text-center">
	 {% for notification in notifications %}                   
	<li>
	<div class="card my-2 mx-4 ">
	<div class="card-body">
		
			{% if notification.type == "campaign" %}
				🎁<span class="badge text-bg-warning my-2 ">キャンペーン</span>
			{% 	elif notification.type == "reminder" %}
				🔔<span class="badge text-bg-light my-2 ">お知らせ</span>
			{% elif notification.type == "system" %}
				🔧<span class="badge text-bg-primary my-2 ">システム通知</span>
			{% else %}
				<span class="badge text-bg-secondary my-2 ">その他</span>
			{% endif %}
		<h6 class="card-subtitle mb-2 text-body-secondary">{{ notification.title }}</h6>
		<p class="card-text">{{ notification.body }}</p>
	</div>
	</div>
	</li>
	 {% endfor %}
</div>


  
{% endblock %}