{% extends "layout.html" %}

{% block content %}
<p class="text-white bg-primary">お知らせ<br>店舗からの最新情報</br></p>

<div class="btn-toolbar" role="toolbar" aria-label="Toolbar with button groups">
  <div class="btn-group me-2,position-absolute top-0 start-50 translate-middle" role="group" aria-label="First group">
    <button type="button" class="btn btn-dark">すべて</button>
    <button type="button" class="btn btn-dark">未読</button>
    <button type="button" class="btn btn-dark">既読</button>
  </div>


{% endblock %}