{% extends "layout.html" %}

{% block content %}
  <h1 class="text-white main-color">予約一覧</h1>

  <div class="button-center">
    <button type="button" class="btn btn-primary">予約中</button>
    <button type="button" class="btn btn-primary">利用履歴</button>
  </div>
  <div class="text-center">
  {% for reservation in reservations %}
   <div class="card">
      <div class="card-body">
        <h2 class="card-title">{{ reservation.salon.name }}</h2>
        <span class="card-title">{{ reservation.start_at.strftime("%Y年%m月%d日") }}</span>
        <span class="card-title">🕒{{ reservation.start_at.strftime("%H時%M分") }}</span>
        <span class="card-title">~{{ reservation.end_at.strftime("%H時%M分") }}</span>
        <span class="card-title">📍{{ reservation.salon.address.prefecture }}</span>
        <span class="card-title">{{ reservation.salon.address.city }}</span>
        <span class="card-title">{{ reservation.salon.address.line1 }}</span>
        <span class="card-title">{{ reservation.salon.address.line2 }}</span>
      </div>
      <div span>合計金額</span>
        <span class="card-title">{{ reservation.amount_jpy }}</span>
        <span>円</span>
        <p class="card-text"></p>
        <button type="button" class="btn btn-light">詳細・問い合わせ</button>
        <button type="button" class="btn btn-outline-danger">キャンセル</button>
      </div>
  </div>
  {% endfor %}
{% endblock %}