{% extends "layout.html" %}

{% block content %}
<form action="/top/update/{{person.id}}" method="post">
    <div class="mt-2 ms-2">
        <div class="m-4">
            <h2>Person 詳細</h2>
            <input type="text" name="name" value="{{ person.name }}">
            <input type="number" name="age" value="{{ person.age }}">
        </div>
            <div class="m-4">   
                <button type="submit" class="btn btn-primary">更新</button>
        </div>
        <div class="m-4">
            <a href="/top">戻る</a>
        </div>
    </div>    
</form>
{% endblock %}